name: clamav
docker:
  image: mkodockx/docker-clamav:latest
  containerPort: 3310
imagePullPolicy: IfNotPresent

services:
  clamav:
    podconfig: {{ podconfig.clamav.service | to_yaml }}

probe:
  initialDelay: 300  # Seconds
  period: 30 # Seconds
